pandas
dm-sonnet
git+https://github.com/vladfi1/libmelee.git@v0.36.1
gdown
tensorflow_probability[tf]
wandb
git+https://github.com/mbr/simplekv.git
boto3
pymongo
dnspython
fancyflags
pyarrow
git+https://github.com/vladfi1/py7zr.git@dev
