pandas==1.4.4
dm-sonnet
git+https://github.com/vladfi1/libmelee.git@dev
gdown
git+https://github.com/IDSIA/sacred.git
git+https://github.com/mbr/simplekv.git
boto3
pymongo
dnspython
fancyflags
pyarrow

# for nvcr's tensorflow 2.3
numpy==1.18.5
tensorflow_probability==0.11
