pandas
dm-sonnet
dm-tree
git+https://github.com/vladfi1/libmelee.git@v0.41.0
tensorflow
tensorflow_probability[tf]
wandb
dnspython
fancyflags
pyarrow
git+https://github.com/vladfi1/py7zr.git@dev
parameterized
peppi-py==0.8.1
