pandas
dm-sonnet
git+https://github.com/vladfi1/libmelee.git@peppi_invuln
gdown
tensorflow_probability
git+https://github.com/IDSIA/sacred.git
git+https://github.com/mbr/simplekv.git
boto3
pymongo
dnspython
fancyflags
pyarrow
git+https://github.com/vladfi1/py7zr.git@dev
