name: slippi-ai test cases

on: [push, pull_request]

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.11', '3.12']
        os: ['ubuntu-latest']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    # See https://github.com/pypa/pip/issues/11281
    - name: Install
      run: |
        pip install -r requirements.txt
        pip install .
        sudo apt update
        sudo apt install -y zipmerge

    - name: Run Unit Tests
      run: |
        python tests/slippi_db_test.py
        python tests/observations_test.py
        python tests/slippi_db_test.py

    - name: Run JAX Unit Tests
      run: |
        python slippi_ai/jax/tests/networks_test.py
        python slippi_ai/jax/tests/rl_lib_test.py

    - name: Test Imitation
      run: python slippi_ai/jax/tests/imitation_test.py
