name: slippi-ai test cases

on: [push, pull_request]

jobs:
  test:

    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.11', '3.12']
        os: ['ubuntu-latest']

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}

    # See https://github.com/pypa/pip/issues/11281
    - name: Install
      run: |
        pip install -r requirements.txt
        pip install .[tf,jax]
        sudo apt update
        sudo apt install -y zipmerge

    - name: Run Unit Tests
      run: |
        python tests/saving_test.py
        python tests/unit_tests.py
        python tests/observations_test.py
        python tests/unroll_agent.py
        python tests/test_agent_outputs.py

    - name: Cache the test dataset
      uses: actions/cache@v4
      id: cache-test-dataset
      with:
        path: test_dataset.zip
        key: test-dataset-v1

    - name: Download the test dataset
      if: steps.cache-test-dataset.outputs.cache-hit != 'true'
      run: |
        curl -L "https://www.dropbox.com/scl/fi/o4jyexehc4edcmzeu930i/TestDataset-31.zip?rlkey=89d9m574zygeo8460lla7wmji&st=oi5q5ba8&dl=1" -o test_dataset.zip

    - name: Extract test dataset
      run: |
        mkdir -p test_dataset_extracted
        unzip -o test_dataset.zip -d test_dataset_extracted

    - name: slippi_db tests
      run: |
        python tests/slippi_db_test.py
        python tests/replay_parser_test.py --dataset_path=test_dataset_extracted
        python tests/dataset_creation_test.py --dataset_zip=test_dataset.zip

    - name: Tensorflow Unit Tests
      run: |
        python slippi_ai/tf/tests/networks_test.py
        python slippi_ai/tf/tests/rl_lib_test.py

    - name: Test Evaluator
      run: ./tests/run_evaluator.sh

    - name: Test Imitation
      run: ./slippi_ai/tf/tests/training_test.sh

    - name: Test Imitation with Restore
      run: ./slippi_ai/tf/tests/training_test.sh --config.restore_pickle=slippi_ai/data/checkpoints/demo

    - name: Test RL with Fake Data
      run: ./slippi_ai/tf/tests/train_rl.sh

    - name: Test RL with Fake Data + Delay
      run: ./slippi_ai/tf/tests/train_rl.sh --config.override_delay=3

    - name: Test RL with Fake Data + Restore
      run: ./slippi_ai/tf/tests/train_rl.sh --config.teacher="" --config.restore=slippi_ai/data/checkpoints/rl_demo --config.agent.char=FOX

    - name: Test train_two with Fake Data
      run: ./slippi_ai/tf/tests/train_two.sh

    - name: Download ExiAI Dolphin
      # TODO: specify release version in repo?
      run: |
        curl -L https://github.com/vladfi1/slippi-Ishiiruka/releases/download/exi-ai-0.2.0/Slippi_Online-x86_64-ExiAI.AppImage -o ishiiruka
        curl -L https://github.com/vladfi1/dolphin/releases/download/4.0.0-mainline-beta.14-ExiAI/Slippi_Netplay_Mainline_ExiAI-x86_64.AppImage -o dolphin
        chmod +x dolphin

    - name: Install dolphin dependencies
      run: |
        sudo apt update
        sudo apt install -y libfuse2 libegl1

    - name: Cache the SSBM iso
      uses: actions/cache@v4
      id: cache-iso  # give it a name for checking the cache hit-or-not
      with:
        path: SSBM.iso
        key: ssbm-iso

    - name: Download the SSBM iso
      if: steps.cache-iso.outputs.cache-hit != 'true'
      env:
        SSBM_ISO_DRIVE_ID: ${{ secrets.SSBM_ISO_DRIVE_ID }}
      run: |
        pip install gdown
        gdown "https://drive.google.com/uc?id=$SSBM_ISO_DRIVE_ID" -O SSBM.iso

    - name: Dolphin Input Tests
      run: python scripts/test_inputs.py --dolphin.path=./dolphin --dolphin.iso=SSBM.iso

    - name: Test RL with Dolphin
      run: ./slippi_ai/tf/tests/train_rl.sh --config.dolphin.path=./dolphin --config.dolphin.iso=SSBM.iso --config.actor.use_fake_envs=False --config.actor.async_envs

    - name: Test train_two with Dolphin
      run: ./slippi_ai/tf/tests/train_two.sh --config.dolphin.path=./dolphin --config.dolphin.iso=SSBM.iso --config.actor.use_fake_envs=False --config.actor.async_envs

    - name: JAX Unit Tests
      run: |
        python slippi_ai/jax/tests/networks_test.py
        python slippi_ai/jax/tests/rl_lib_test.py

    - name: JAX Imitation
      run: python slippi_ai/jax/tests/imitation_test.py
